<section>
</section>

<% if false %>
  <div id="posts">
    <div class="container">
      <div class="section_header">
        <!-- Post Row -->
        <div class="row post_row">
          <!-- Post -->
          <div class="span4 post">
            <div class="img">
              <%= link_to image_tag("blog1.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>

          <!-- Post -->
          <div class="span4 post">
            <div class="img">
              <%= link_to image_tag("blog2.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>

          <!-- Post -->
          <div class="span4 post last">
            <div class="img">
              <%= link_to image_tag("blog3.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>
        </div>

        <!-- Post Row -->
        <div class="row post_row">
          <!-- Post -->
          <div class="span4 post">
            <div class="img">
              <%= link_to image_tag("blog1.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>

          <!-- Post -->
          <div class="span4 post">
            <div class="img">
              <%= link_to image_tag("blog2.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>

          <!-- Post -->
          <div class="span4 post last">
            <div class="img">
              <%= link_to image_tag("blog3.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>
        </div>

        <!-- Post Row -->
        <div class="row post_row lastpost_row">
          <!-- Post -->
          <div class="span4 post">
            <div class="img">
              <%= link_to image_tag("blog1.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>

          <!-- Post -->
          <div class="span4 post">
            <div class="img">
              <%= link_to image_tag("blog2.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>

          <!-- Post -->
          <div class="span4 post last">
            <div class="img">
              <%= link_to image_tag("blog3.png", :class => 'span4 post'), '#' %>
            </div>
            <div class="text">
              <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
              <span class="date">Wed, 12 Dec.</span>
              <p>
              There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
            </div>
            <div class="author_box">
              <h6>Alejandra Galvan</h6>
              <p>Creative Director</p>
            </div>
          </div>
        </div>
        <div class="pagination">
          <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
